<aside class="sidebar">
    <div class="logo">
<<<<<<< HEAD
<img src="" alt="Australia Zoo Logo" class="sidebar-logo"></div>
=======
<img src="/images/AustraliaZooLogo.png" alt="Australia Zoo Logo" class="sidebar-logo"></div>
>>>>>>> fix/001/fix-internal-error
    <ul class="animal-list">
        <% allAnimals.forEach(animal => { %>
            <li>
                <a href="/animal/<%= animal.id %>" class="animal-link">
                    <%= animal.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</aside>