* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --sidebar-bg: #34495e;
  --active-color: #e67e22;
  --body-bg: #f4f7f6;
  --white: #ffffff;
  --text-dark: #2c3e50;
}

body {
  background-color: var(--body-bg);
  color: var(--text-dark);
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg);
  height: 100vh;
  position: fixed;
  padding: 20px;
}

.right-side {
  margin-left: 250px;
  width: 100%;
}

header {
  background-color: var(--white);
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
}
